INVENTORY_DB_NAME=itinventory
INVENTORY_DB_USER=itinventory
INVENTORY_DB_PASSWORD=change-me

LOCATION_DB_NAME=locationdb
LOCATION_DB_USER=location
LOCATION_DB_PASSWORD=change-me

RABBITMQ_USER=inventory
RABBITMQ_PASSWORD=change-me